---
layout: page
title: /contact
permalink: /contact/
---

<h1>Get in touch</h1>

<form name="btao-contact" data-netlify="true" netlify-honeypot="extra-field" method="POST" action="/contact/success">

  <label for="name">name</label>
    <input type="text" id="name" name="name" placeholder="john doe" autocomplete="off">

  <label for="email" class="required">email</label>
    <input type="text" id="email" name="email" placeholder="john@doe.com" autocomplete="off" required="true">

  <label for="message" class="required">message</label>
    <textarea rows="5" id="message" name="message" placeholder="lorem ipsum" autocomplete="off" required="true"></textarea>

  <p class="hidden">
    <label>Don’t fill this out if you're human: <input name="extra-field" /></label>
  </p>

  <input type="submit" value="[ submit&nbsp;]">
</form>
