<div class="bottom-panel" id="bottom-panel">
    <div class="popup-wrapper" id="popup-wrapper"></div> 
</div> 
<script defer src="/static/js/footnotes.js"></script>
<footer>
  {{ site.footer }}
</footer>
