<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="googlebot" content="noindex">
  <title>{{ site.title }} | {{ page.title }}</title>

  <link rel="stylesheet" type="text/css" href="{{ "/static/css/main-dark.css" | relative_url }}">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">

  <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {% seo title=false %}
</head>
