---
# This front matter tells Jekyll to compile to CSS
---

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "/static/css/main-dark.css";

.frame-content {
  margin: 1.5rem;
  font-family: 'Inter', sans-serif;
  font-size: 16px;

  img {
    display: block;
    margin: 15px auto;
    max-width: 100%;
  }
}
