@charset "utf-8";

/**
 * Style variables
 */
$base-font-family: "Inconsolata", monospace !default;
$base-font-size: 16px !default;
$mobile-font-size: 14px !default;
$base-line-height: 1.5 !default;
$container-width: 90% !default;
$container-max-width: 700px !default;

/**
 * Global
 */
body {
  background-color: var(--background-color);
  margin: 0 auto;
  padding: 0;
  font-family: $base-font-family;
  font-size: $base-font-size;
  color: var(--text-color);
  text-align: left;
  line-height: $base-line-height !important;
}
k code,
pre {
  font-family: $base-font-family;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: 0;
}
:not(.post):not(.post-title) > {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: $base-font-size;
    font-weight: bold;
  }
}
p,
ul,
ol {
  color: var(--text-color);
}
a {
  text-decoration: underline;
  color: var(--link-color);
}
a:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}
@media only screen and (max-device-width: 500px) {
  * {
    font-size: $mobile-font-size !important;
  }
}
.hidden {
  display: none;
}
.post {
  font-family: "Inter", sans-serif;
  font-size: $base-font-size;
}
@supports (font-variation-settings: normal) {
  .post {
    font-family: "Inter var", sans-serif;
  }
}

/**
 * Layout
 */
.container {
  width: $container-width;
  max-width: $container-max-width;
  margin-right: auto;
  margin-left: auto;
}
p {
  word-wrap: break-word;
  word-break: break-word;
  margin-bottom: 15px;
}
footer {
  color: var(--text-color);
  border-top: var(--border);
  margin: 20px auto 15px;
  padding-top: 10px;
  text-align: right;
}
header {
  margin-top: 25px;
  margin-bottom: 10px;
}
header p {
  text-align: left;
  margin: 0;
}
footer {
  margin-bottom: 20px;
}
.post img,
.project img {
  display: block;
  margin: 15px auto;
  max-width: 100%;
}
ul.project-links {
  margin: 0;
}
hr {
  width: 100%;
  color: var(--text-color);
  border: none;
  border-top: var(--border);
  margin: 25px 0;
}

/**
 * Highlight/Markup
 */
::selection {
  background: var(--selection-background);
  color: var(--selection-text);
}
::-moz-selection {
  background: var(--selection-background);
  color: var(--selection-text);
}
code {
  background-color: var(--code-background);
}
pre code {
  background-color: transparent;
}

/**
 * Lists
 */
:not(.menu) > ul {
  list-style: none;
  padding-left: 0;
}
:not(.menu) > ul {
  list-style-type: none;
}
:not(.menu) > ul > li:before {
  content: "-";
  margin-right: 9px;
}

ul.project-links li a {
  text-decoration: none;
}

/**
 * Header/Navigation
 */
.menu {
  display: flex;
  justify-content: space-between;
}
.menu {
  border-top: var(--border);
  border-bottom: var(--border);
  margin-bottom: 25px;
}
.menu ul {
  margin-top: 12px;
  margin-bottom: 12px;
  padding-left: 0px;
  list-style-type: none;
  text-align: right;
  display: inline-block;
}
.menu ul li {
  display: inline;
  margin-left: 10px;
}
.menu ul li a,
.menu-title a {
  text-decoration: none;
  color: var(--text-color);
}
.menu ul li a:hover,
.menu-title a:hover {
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--base-color);
}
.menu .menu-title {
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 12px;
}

/**
 * Form
 */
input,
select,
textarea {
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border: none;
}
input[type="text"],
select,
textarea {
  width: 100%;
  resize: none;
  background-color: var(--background-color);
  color: var(--text-color);
  caret-color: var(--text-color);
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
}
.required:after {
  content: " *";
  color: #e01515;
}
input,
select,
textarea,
textarea::-webkit-input-placeholder {
  text-indent: 0px;
}
::placeholder {
  color: var(--placeholder-color);
  opacity: 1;
}
:-ms-input-placeholder {
  color: var(--placeholder-color);
}
::-ms-input-placeholder {
  color: var(--placeholder-color);
}
input[type="submit"] {
  font-size: $base-font-size;
  font-family: $base-font-family;
  line-height: $base-line-height;
  cursor: pointer;
  color: var(--link-color);
  background-color: var(--background-color);
}
input[type="submit"]:hover {
  color: var(--background-color);
  background-color: var(--base-color);
}
*:focus {
  outline: none;
}
textarea {
  vertical-align: top;
}

/**
 * Footnotes popup
 */
.bottom-panel {
  position: fixed;
  font-size: 0.9rem;
  bottom: 0;
  left: 0;
  right: 0;
}

.popup-wrapper {
  display: none;
  max-width: 560px;
  margin: 0 auto;
  background-color: var(--background-color);
  border-top: var(--border);
}

#popup-index {
  padding: 1.25rem 0 0 1.25rem;
}

#popup-close {
  padding: 1.25rem;
  margin-left: auto;
  cursor: pointer;
}

#popup-close:hover {
  color: var(--selection-text);
  background-color: var(--selection-background);
}

#popup-content {
  max-width: 500px;
  text-align: left;
  padding: 1.25rem 0 1.25rem 0.9rem;
}

/**
 * Code and syntax highlighting
 */
.lineno {
  color: var(--code-color-1);
  margin-right: 15px;
}
figure.highlight {
  margin: 5px 0;
}
pre {
  background-color: var(--background-color);
  border: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  font-size: $base-font-size;
  color: var(--text-color);
  line-height: 1.7 !important;
  font-family: $base-font-family !important;
}
.highlight .hll {
  background-color: var(--code-color-2);
}
.highlight .c {
  color: var(--code-color-1);
  font-style: italic;
} /* Comment */
.highlight .err {
  color: var(--code-color-3);
  background-color: var(--code-color-4);
} /* Error */
.highlight .k {
  color: var(--code-color-5);
} /* Keyword */
.highlight .cm {
  color: var(--code-color-1);
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: var(--code-color-6);
} /* Comment.Preproc */
.highlight .c1 {
  color: var(--code-color-1);
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: var(--code-color-5);
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: var(--code-color-7);
} /* Generic.Deleted */
.highlight .ge {
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: var(--code-color-7);
} /* Generic.Error */
.highlight .gh {
  color: var(--code-color-8);
  font-weight: bold;
} /* Generic.Heading */
.highlight .gi {
  color: var(--code-color-9);
} /* Generic.Inserted */
.highlight .go {
  color: var(--code-color-10);
} /* Generic.Output */
.highlight .gp {
  color: var(--code-color-11);
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: var(--code-color-12);
  font-weight: bold;
} /* Generic.Subheading */
.highlight .gt {
  color: var(--code-color-7);
} /* Generic.Traceback */
.highlight .kc {
  color: var(--code-color-5);
} /* Keyword.Constant */
.highlight .kd {
  color: var(--code-color-5);
} /* Keyword.Declaration */
.highlight .kn {
  color: var(--code-color-5);
} /* Keyword.Namespace */
.highlight .kp {
  color: var(--code-color-5);
} /* Keyword.Pseudo */
.highlight .kr {
  color: var(--code-color-5);
} /* Keyword.Reserved */
.highlight .kt {
  color: var(--code-color-13);
} /* Keyword.Type */
.highlight .m {
  color: var(--code-color-14);
} /* Literal.Number */
.highlight .s {
  color: var(--code-color-15);
} /* Literal.String */
.highlight .na {
  color: var(--code-color-16);
} /* Name.Attribute */
.highlight .nb {
  color: var(--code-color-13);
} /* Name.Builtin */
.highlight .nc {
  color: var(--code-color-9);
  text-decoration: underline;
} /* Name.Class */
.highlight .no {
  color: var(--code-color-7);
} /* Name.Constant */
.highlight .nd {
  color: var(--code-color-10);
} /* Name.Decorator */
.highlight .ni {
  color: var(--code-color-17);
  font-weight: bold;
} /* Name.Entity */
.highlight .nf {
  color: var(--code-color-9);
} /* Name.Function */
.highlight .nn {
  color: var(--code-color-13);
  text-decoration: underline;
} /* Name.Namespace */
.highlight .nt {
  color: var(--code-color-16);
  font-weight: bold;
} /* Name.Tag */
.highlight .nv {
  color: var(--code-color-7);
} /* Name.Variable */
.highlight .ow {
  color: var(--code-color-5);
} /* Operator.Word */
.highlight .w {
  color: var(--code-color-18);
} /* Text.Whitespace */
.highlight .mf {
  color: var(--code-color-14);
} /* Literal.Number.Float */
.highlight .mh {
  color: var(--code-color-14);
} /* Literal.Number.Hex */
.highlight .mi {
  color: var(--code-color-14);
} /* Literal.Number.Integer */
.highlight .mo {
  color: var(--code-color-14);
} /* Literal.Number.Oct */
.highlight .sb {
  color: var(--code-color-15);
} /* Literal.String.Backtick */
.highlight .sc {
  color: var(--code-color-15);
} /* Literal.String.Char */
.highlight .sd {
  color: var(--code-color-15);
} /* Literal.String.Doc */
.highlight .s2 {
  color: var(--code-color-15);
} /* Literal.String.Double */
.highlight .se {
  color: var(--code-color-15);
} /* Literal.String.Escape */
.highlight .sh {
  color: var(--code-color-15);
} /* Literal.String.Heredoc */
.highlight .si {
  color: var(--code-color-15);
} /* Literal.String.Interpol */
.highlight .sx {
  color: var(--code-color-15);
} /* Literal.String.Other */
.highlight .sr {
  color: var(--code-color-14);
} /* Literal.String.Regex */
.highlight .s1 {
  color: var(--code-color-15);
} /* Literal.String.Single */
.highlight .ss {
  color: var(--code-color-5);
} /* Literal.String.Symbol */
.highlight .bp {
  color: var(--code-color-13);
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: var(--code-color-7);
} /* Name.Variable.Class */
.highlight .vg {
  color: var(--code-color-7);
} /* Name.Variable.Global */
.highlight .vi {
  color: var(--code-color-7);
} /* Name.Variable.Instance */
.highlight .il {
  color: var(--code-color-14);
} /* Literal.Number.Integer.Long */

/**
 * Fonts
 */

/* Material Icons font */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(/static/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/static/fonts/MaterialIcons-Regular.woff2) format("woff2"),
    url(/static/fonts/MaterialIcons-Regular.woff) format("woff"),
    url(/static/fonts/MaterialIcons-Regular.ttf) format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  //   font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

/* inconsolata-regular - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-500 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-600 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-700 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-900 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-900.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-900.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inconsolata-800 - latin */
@font-face {
  font-family: "Inconsolata";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local(""),
    url("/static/fonts/inconsolata-v20-latin-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/static/fonts/inconsolata-v20-latin-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Inter */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/static/fonts/Inter-Thin.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Thin.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("/static/fonts/Inter-ThinItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-ThinItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("/static/fonts/Inter-ExtraLight.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-ExtraLight.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("/static/fonts/Inter-ExtraLightItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-ExtraLightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/static/fonts/Inter-Light.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Light.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("/static/fonts/Inter-LightItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-LightItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/Inter-Regular.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Regular.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("/static/fonts/Inter-Italic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Italic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/static/fonts/Inter-Medium.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Medium.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/static/fonts/Inter-MediumItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-MediumItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/Inter-SemiBold.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-SemiBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/static/fonts/Inter-SemiBoldItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-SemiBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/Inter-Bold.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Bold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("/static/fonts/Inter-BoldItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-BoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("/static/fonts/Inter-ExtraBold.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-ExtraBold.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("/static/fonts/Inter-ExtraBoldItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-ExtraBoldItalic.woff?v=3.15") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/Inter-Black.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-Black.woff?v=3.15") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("/static/fonts/Inter-BlackItalic.woff2?v=3.15") format("woff2"),
    url("/static/fonts/Inter-BlackItalic.woff?v=3.15") format("woff");
}

/* -------------------------------------------------------
Variable font.
Usage:

  html { font-family: 'Inter', sans-serif; }
  @supports (font-variation-settings: normal) {
    html { font-family: 'Inter var', sans-serif; }
  }
*/
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/static/fonts/Inter-roman.var.woff2?v=3.15") format("woff2");
}
@font-face {
  font-family: "Inter var";
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/static/fonts/Inter-italic.var.woff2?v=3.15") format("woff2");
}
